a,
a:hover,
a:visited {
    text-decoration: none !important;
}


.a {
    height:270px;
    border:1px solid #ccc;
    margin-bottom: 35px;
    padding: 0;
    }


.indexbox{
    font-size:20px;
    font-style: italic;
    margin: 0px;
    padding: 30px;
    padding-bottom: 30px;
}

.jobbox {
    font-size: 20px;
    font-style: italic;
     
    margin: 0;
    padding: 0;
    height: 170px;
    width: 49%;
    display: inline-block;
        }
        
.companybox {
    font-size: 20px;
    font-style: italic;
     
    margin: 0;
    padding: 0;
    height: 130px;
    width: 90%;
    }
        
 .companybox1 {
    font-size: 20px;
    font-style: italic;
             
    margin: 0;
    padding: 0;
    height: 130px;
    width: 10%;
    display: inline-block;
    }
.companybox2 {
    font-size: 20px;
    font-style: italic;
             
    margin: 0;
    padding: 0;
    height: 130px;
    width: 79%;
    display: inline-block;
    }

.course_name,
.course_description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body{
    background-color:white;

}


form{
    /* 设置form 宽度为400px */
    width: 400px;
    /*设置form居中*/
    margin: 0 auto;
}

.nav-pagination {
    text-align: center;
}

.company-detail {
    margin: 30px 0;
    font-size: 20px;
}
.job-item {
    border: 2px;
    
    
    padding: 15px 10px;
    margin-bottom: 15px;
}

.job-salary {
    color: #fd5f39;
}

.job-meta,.timesince {
    color: #999;
}