{% extends "base.html" %}
{% from "macros.html" import render_pagination%}

{% block title %}qiu zhi wang zhan{% endblock %}

{% block body %} 
<div class="container"><h1 align="center">the latest possition</h1>

    {% for job in pagination.items %}
<div style="border-bottom: 1px solid #ccc;" class="row-fluid">
    <div class="jobbox">
    <div><a href="{{ url_for('job.job_information',job_id=job.id) }}">jobname:{{job.jobname}}</a></div>
    <div>address:{{job.address}}</div>
    <div>salary and request:{{job.salary,job.requirement}}</div>
    <div><a href="#">hr and updatetime:{{job.edurequirement,job.updated_at}}</a></div>
    </div>
    <div class="jobbox">
    <div><a href="#">jobname:{{job.jobname}}</a></div>
    <div>address:{{job.address}}</div>
    <div>salary and request:{{job.salary,job.requirement}}</div>
    <div><a href="#">hr and updatetime:{{job.edurequirement,job.updated_at}}</a></div>
    </div>
    {% endfor %}
    </div>
</div>
{{ render_pagination(pagination, 'job.index') }}
    {% endblock %}
    



