{% extends "base.html" %}
{% from "macros.html" import render_pagination%}

{% block title %}Jobplus{% endblock %}

{% block body %} 
<div class="container"><h1 align="center">company list</h1>

    {% for company in pagination.items %}
<div style="border-bottom: 1px solid #ccc;" class="row-fluid">
    <div class="companybox">
    <div class="companybox1">
        <span style="font-size: 80px; margin-top: 20px;" class="glyphicon glyphicon-list-alt"></span>
        </div>
    <div class="companybox2">
        <div><a href="#">companyname:{{company.companyname}}</a></div>
        <div>address:{{company.address}}</div>
        <div>describe:{{company.desc}}</div>
        <div><a href="#">hr and updatetime:{{company.updated_at}}
            </a></div>
        </div>
    </div>
</div>

    {% endfor %}
{{ render_pagination(pagination, 'company.index') }}
    {% endblock %}
    



