{% extends "base.html" %}
{% from "macros.html" import render_pagination%}

{% block title %}jobplus{% endblock %}

{% block body %} 


<div class="container">
   
        <!-- this is really code -->
        {% for one in pagination.items %}
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="{{ url_for('job.job_information',job_id=one.id) }}">job_name:{{one.jobname}}</a></p>
            
            <p class="position-right2">salary:{{one.salary}}</p>
            </div>
            <div class="mybox">experience:{{one.exprequirement}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{one.updated_at}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>edurequirement:{{one.edurequirement}}</p>
                <p>describe:{{one.desc}}</p>
            </div>
       </div>
        {% endfor%}
        
    </div>
{{ render_pagination(pagination, 'front.index') }}
       

{% endblock %}
