{% extends "base.html" %}
{% from "macros.html" import render_pagination%}

{% block title %}jobplus{% endblock %}

{% block body %} 


<div class="container">
    <h1 align="center">the latest job</h1>
    <div class="row">
        {% for one in pagination.items %}
            <div class="col-md-4 indexbox">
                <p style="border-bottom: 1px solid black"><a href="{{ url_for('job.job_information',job_id=one.id)}}">job_name:{{one.jobname}} </a></p>
                <div class="row">
                    <div class="col-md-6">
                        <p style="color:crimson">salary:{{one.salary}}</p>
                        <p>describe:{{one.desc}}</p>
                        <p>experience:{{one.exprequirement}}</p>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('company.company_information',company_id=one.company_id) }}">
                             <p style="font-size: 80px;margin-top: 20px;margin-left: 70px" class="glyphicon glyphicon-list"></p>
                        </a>
                    </div>
                </div>
                <p>edurequirement:{{one.edurequirement}}</p>
                <p >datetime:{{one.updated_at}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{{ render_pagination(pagination, 'front.index') }}
       

{% endblock %}
