{% extends "base.html" %}


{% block title %}qiu zhi wang zhan{% endblock %}

{% block body %} 
<div class="pull-right">
<form>
    <div class="form-group">
        <label class="col-sm-2">email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" placeholder="please input your emailaddress!">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="please input your password!">
        </div>
    </div>
    <div>
    <button class="pull-right">login</button>
    <button class="pull-right">register</button></div>
</form>
    </div>
    <div class="clearfix"></div>
    

<div class="container">

    <div class="row-fluid">
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{job_name}}</a></p>
            
            <p class="position-right2">salary:{{salary}}</p>
            </div>
            <div class="mybox">experience:{{experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{course_name}}</p>
                <p>describe:{{describe}}</p>
            </div>
       </div>
        
        
        <!-- this is really code -->
        {% for one in ones %}
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 a">
            <div class="mybox">
            <p class="position-left"><a href="#">job_name:{{one.job_name}}</a></p>
            
            <p class="position-right2">salary:{{one.salary}}</p>
            </div>
            <div class="mybox">experience:{{one.experience}}
            </div>
            <div class="mybox">
                <p class="position-right1">datetime:{{one.datetime}}</p>
            </div>
            <div style="display: inline-block">
                <span style="font-size: 40px; margin-top: 20px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div style="display: inline-block; padding-left: 15px; font-size: 16px;">
                <p>company_name:{{one.course_name}}</p>
                <p>describe:{{one.describe}}</p>
            </div>
       </div>
        {% endfor%}
        
    </div>
</div>
       

{% endblock %}
