{% extends "base.html" %}


{% block title %}qiu zhi wang zhan{% endblock %}

{% block body %} 
<div class="container"><h1 align="center">the latest possition</h1>

    {% for job in jobs %}
<div style="border-bottom: 1px solid #ccc;" class="row-fluid">
    <div class="jobbox">
    <div><a href="#">jobname:{{job.jobname}}</a></div>
    <div>address:{{job.address}}</div>
    <div>salary and request:{{job.salary,job.requirement}}</div>
    <div><a href="#">hr and updatetime:{{job.edurequirement,job.updated_at}}</a></div>
    </div>
    <div class="jobbox">
    <div><a href="#">jobname:{{job.jobname}}</a></div>
    <div>address:{{job.address}}</div>
    <div>salary and request:{{job.salary,job.requirement}}</div>
    <div><a href="#">hr and updatetime:{{job.edurequirement,job.updated_at}}</a></div>
    </div>
    {% endfor %}
    
    {% endblock %}
    



