{% extends "base.html" %}


{% block title %}Jobplus{% endblock %}

{% block body %} 
<div class="container-fluid">
<div class="row-fluid">
    <div class="col-md-3">
        <h4 style="margin-left: 15px; font-size: 30px;">list</h4>
        <div class="list-group" style="margin: 0; padding: 0;">
            <a href="{{ url_for('admin.admin_users') }}" class="list-group-item">users</a>
            <a href="{{ url_for('admin.admin_job') }}" class="list-group-item">jobs</a>
            
        </div>
    </div>
    
    {% block user %}{% endblock %}
    


</div>

{% endblock %}
