{% extends "admin/admin_base.html" %}


{% block title %}Jobplus{% endblock %}
{% block user %}
    
    
    <div style="padding: 0;margin: 0;" class="col-md-9">
    <div class="button-group" style="float: right;padding: 0;margin: 0;">
        <a href="{{ url_for('admin.add_company') }}" type="button" class="btn btn-default">
                            Add company
                        </a>
                        <a href="{{ url_for('admin.add_user') }}" type="button" class="btn btn-default">
                            Add user
                        </a>
        </div>
    
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>email</td>
                <td>type</td>
                
                <td>phonenumber</td>
                <td>company</td>
                <td>website</td>
                <td>statement</td>
            </tr>
        </thead>
        
        <tbody>
            
            
            {% for user in ones %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.type }}</td>
                <td>{{ user.phonenumber }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.website }}</td>
                <td>{{ user.statement }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" type="button" class="btn btn-default">
                            Edit
                        </a>
                        <a href="{{ url_for('admin.disable_user',user_id=user.id)}}" type="button" class="btn btn-default">
                            {% if user.is_disable %}enable{% else %}disable{% endif %}
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
        
    </div>

{% endblock %}


